@font-face {
    font-family: 'unique';
    src: url(./Font/UnifySans.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'unique';
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .4s;
    scroll-behavior: smooth;
}

:root {
    --border-: #707070;
    --bg-: #1f1d1d;
    --bl-: #0088ff;
    --txt-: #ffffff;
    --btn-: #00B16A;
    --btn-hover-: #5a5adb;
    --foot-: #16275e;
    --radius-: 5px;
    --shadow-: 0px 0px 2px rgb(24, 24, 24);
    --center-: translate(-50%, -50%);
}

.blur {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(225, 225, 225, .2);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.blur-pop {
    top: 0;
}

.blur img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--center-);
    width: 200px;
}

.blur span {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--center-);
    width: 60%;
    height: 570px;
    background: var(--txt-);
    border-radius: var(--radius-);
    box-shadow: var(--shadow-);
}

.form {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.page1,
.page2 {
    height: 100%;
    min-width: 100%;
    padding: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    position: relative;
}

.input input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--border-);
    border-radius: var(--radius-);
    padding-left: 15px;
    font-size: 16px;
}

.input input:focus,
.input input:valid,
.input select:focus,
.input select:valid,
input[type="file"]:valid~.file,
input[type="file"]:focus~.file {
    border: 2px solid var(--btn-);
}

.input select {
    width: 100%;
    height: 50px;
    background: var(--txt-);
    border: 1px solid var(--border-);
    border-radius: var(--radius-);
    padding-left: 15px;
    font-size: 16px;
}

.file {
    display: block;
    height: 50px;
    border: 1px solid var(--border-);
    border-radius: var(--radius-);
    position: relative;
}

.file p {
    position: absolute;
    top: 15px;
    left: 15px;
}

.btn-container {
    margin-top: 20px;
    margin-left: 20px;
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-container button {
    height: 100%;
    width: 40%;
    border-radius: var(--radius-);
    background: var(--btn-);
    color: var(--txt-);
    font-size: 18px;
    font-weight: bold;
}

.btn-container button:hover {
    background: var(--btn-hover-);
}

/* Responsive */

@media (max-width:1200px) {
    .form-container {
        width: 50%;
    }
}

@media (max-width:1000px) {
    .form-container {
        width: 60%;
    }
}

@media (max-width:600px) {
    .form-container {
        width: 90%;
        height: 100%;
    }

    .page1,
    .page2 {
        overflow-y: scroll;
        padding: 5px;
    }

    .input-container {
        flex-wrap: wrap;
    }

    .input {
        flex-basis: 100%;
        padding: 0;
        margin: 5px 0;
    }

    input[type="date"] {
        background: var(--txt-);
    }

    .btn-container {
        margin: unset;
        margin-top: 20px;
        width: 100%;
    }
}

@media (max-width:400px) {

    .form-container {
        transform: translate(0, 0);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        border: none;
        box-shadow: none;
    }

    .blur img {
        width: 100px;
    }

    .blur span {
        top: 60%;
        font-size: 19px;
    }
}